//*/ -------/*/
//*/ ARROWS /*/
//*/ -------/*/

.forward, 
.backward {
  background: none;
  border: none;
  color: $themeColor;
  width: $arrowSize;
  height: $arrowSize;
  border: $arrowWidth solid;
  border-style: none none solid solid;
  transform: rotate(45deg);
  cursor: pointer; 
  box-sizing: border-box;
}

.forward:hover, 
.backward:hover,
.forward:focus, 
.backward:focus {
  color: darken($themeColor, 20%);
  outline: none;
  box-shadow: none;
  border-width: $arrowWidth + 2;
}

.forward {
  border-style: solid solid none none; 
}