 .mgr-labels {
    height: 350px;
  }
  .mgr-labels li {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  label p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 3px 5px;
    background-color: rgba(255,255,255,0.65);
  }